
.p-menubar{
    background-color: white;
    border-radius: 0%;
    font-weight: bold;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text{
    color:#1069B3;
    
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon{
    color:#1069B3;
}
.p-fieldset .p-fieldset-legend{
    margin:0;
    color:#1069B3;
    background-color: white;
    border-radius:0%;
}
.p-fieldset .p-fieldset-content{
    padding:0;
}
.p-fieldset{
    border-radius: 0%;
    border:0px;
}
.scrollTop{
    position: fixed;
    bottom:20px;
    right: 20px;
}
.p-button.p-button-icon-only.p-button-rounded{
    height: 80px;
    width: 80px;
}
.p-card-header{
    text-align: center;
}
.p-card-header img{
    width:90%;
}
.memberLoginCard{
    width:50%;
    position: absolute;
    left:25%;
    top:20%;
    text-align: center;
}